/* Попап окно */

#popup {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: rgba(240, 240, 240, .0);
  visibility: hidden;
  animation: animaciya 1s 30s forwards;
  cursor: pointer;
}

@keyframes animaciya {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

#popup figure {
  display: table-cell;
  vertical-align: middle;
}

#popup div,
#popup figcaption,
#popup figure:before {
  max-width: 500px;
  margin: 0 auto;
  border-style: none;
  border-color: #587da4;
  background: #fff;
}

#popup figure:before {
  content: "x";
  display: block;
  padding: 0 1%;
  border-width: 4px 4px 0;
  border-radius: 5px 5px 0 0;
  text-align: right;
  color: #587da4;
}

#popup div,
#popup figcaption {
  padding: 1%;
  cursor: default;
}

#popup figcaption {
  position: relative;
  padding-top: 20px;
  border-width: 0 4px;
  font-size: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #646464;
}

#popup div {
  border-width: 0 4px 4px;
  border-radius: 0 0 5px 5px;
}

a.button {
  display: inline-block;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #FFF;
  background: #d71920;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

a.button:hover {
  background: #fa121a;
}

a.callbackbutton {
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 17px;
  width: 155px;
  color: #FFF;
  background: #d71920;
  cursor: pointer;
  text-decoration: none;
}

a.callbackbutton:hover {
  background: #fa121a;
}

a.sbutton {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 5px;
  margin-top: 1px;
  color: #FFF;
  background: #d71920;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

a.sbutton:hover {
  background: #fa121a;
}

input.bigtext {
  width: 304px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #000;
  margin: 3px;
  font-size: 110%;
  font-family: 'PT Sans', sans-serif;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 9px;
}

input.bigtextt {
  width: 75px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #000;
  text-align: center;
  margin: 3px;
  font-size: 110%;
  font-family: 'PT Sans', sans-serif;
  color: #666;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 9px;
}

a.notbutton {
  text-decoration: none;
  border-bottom: 1px dashed #666;
  color: #666;
}

#secondpage {
  text-align: center;
  padding-bottom: 20px;
  display: none;
}

#firstpage {
  text-align: center;
  padding-bottom: 20px;
}

#thirdpage {
  text-align: center;
  padding-bottom: 20px;
  display: none;
}

#wait {
  margin-top: 12px;
}

#callbackfrom {
  margin-left: 15px;
  margin-right: 15px;
}

#callbacktill {
  margin-left: 15px;
  margin-right: 24px;
}