body, html {
	margin:0;
	padding:0;
	color: #666d70;
    font-family: "PT Sans";
    font-size: 18px;
	background:#eaeaea;
	}	
/* global styles */
img { border:none; }
p { padding:0; margin:10px 0; }
h1, h2, h3, h4, h5, h6 { font-family:'PT Sans'; color:#000; padding:0; margin:10px 0;}
h1 { font-size:30px; margin:0 0 20px 0; font-weight:bold; }
h1 span {
	color:#d71920;
}
h2 { font-size:24px; font-weight:normal; }
h3 { font-size:18px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }
hr { height:0px; border-top:1px dashed #b5b5b5; color:#dcdcdc; overflow:hidden; margin-bottom:20px;}
.clear { clear:both; padding:0 !important; margin:0 !important; height:0 !important;}
.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}
* html .cf {height:1%;}
.text { display:table; }
form {
	padding:0;
	margin:0;
}
.data, .data tr, .data th, .data td {
	border-collapse:collapse;
	border:1px solid #e3e3e3;
	padding:10px 15px;
	color:#2e2e2e;
}
.data th {
	background-color:#f5f5f5;
	color:#737373;
	font-weight:normal;
}
.data td {
}
table tbody {
	border-top: none !important;
}
.pos-relative {
	position:relative;
}
.fll {
	float:left !important;
}
.flr {
	float:right !important;
}
.br-box {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
/* .inlineblock { display:-moz-inline-stack; display:inline-block; } */

/* Г“ГЎГЁГ°Г ГҐГ¬ ГЇГіГ­ГЄГІГЁГ°Г» ГўГ®ГЄГ°ГіГЈ Г±Г±Г»Г«Г®ГЄ-ГЄГ Г°ГІГЁГ­Г®ГЄ */
/* IE */
a:active, a:focus, img { outline:none; }
/* FF */
:focus{ -moz-outline-style:none; }
/* safari, chrome */
*:focus {outline: none;}

button { width: auto; overflow: visible; } /* Р¤РёРєСЃ РґР»СЏ IE7 */ 
button::-moz-focus-inner {  border: 0; padding: 0; } /* Р¤РёРєСЃ РґР»СЏ Firefox */ 

input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}

#HTMLBlock {
	width:100%;
	min-width:320px;
	margin:0 auto;
	padding:0;
	position:relative;
}

a:active, a:focus, img { outline:none !important; }
:focus{ -moz-outline-style:none !important; }

/* Г‘ГІГ Г­Г¤Г Г°ГІГ­Г»ГҐ Г±Г±Г»Г«ГЄГЁ */
a:link, a:active, a:visited {
	color:#666;
	text-decoration:underline;
	}
a:hover {
	text-decoration:none;
	}
	
/*-*/

#header {
	background:#011725;
}
.header-inner {
	max-width:1200px;
	margin:0 auto;
	padding:17px 40px 24px;
	position:relative;
}
	#header .logo {
		background:url(../images/logo.png) left top no-repeat;
		padding-top:32px;
		padding-left:132px;
		display:block;
		text-decoration:none;
		color:#fff;
		font-family:'PT Sans';
		font-size:16px;
		line-height:18px;
		min-height:69px;
		float:left;
		width:300px;
	}
	#header .header-contacts {
		position:absolute;
		left:30%;
		font-family: 'Roboto Condensed', sans-serif;
		font-size:18px;
		line-height:22px;
		color:#fff;
		padding-top:7px;
	}
	#header .header-contacts2 {
		position:absolute;
		left:50%;
		font-family: 'Roboto Condensed', sans-serif;
		font-size:18px;
		line-height:22px;
		color:#fff;
		padding-top:7px;
	}
		.header-contacts .top-phone {
			background:url(../images/top-phone-ico.png) 1px center no-repeat;
			padding:0 0 0 47px;
			margin-bottom:16px;
			
		}
		.header-contacts .top-mail {
			background:url(../images/top-mail-ico.png) 1px center no-repeat;
			padding:0 0 0 47px;
		}
			.header-contacts div span {
				display:inline-block;
				border-bottom:1px dotted #d71920;
			}
	
	#header .header-find {
		width:305px;
		float:right;
		margin-top:-2px;
		font-family: 'Roboto Condensed', sans-serif;
	}
		.find-block {
			position:relative;
			padding-bottom:14px;
		}
			.find-block input[type="text"] {
				border:0;
				background:#fff;
				width:260px;
				height:34px;
				padding:0 35px 0 10px;
				font-size:16px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
			}
			.find-block input[type="submit"] {
				position:absolute;
				right:0;
				top:0;
				width:34px;
				height:34px;
				background:url(../images/search-ico.png) center center no-repeat;
				border:0;
				display:block;
				font-size:0;
				cursor:pointer;
			}
			.find-block input[type="submit"]:hover {
				opacity:0.8;
			}
			.find-block .views-exposed-form .views-exposed-widget {
				float:none !important;
				padding:0 !important;
			}
			.find-block .views-exposed-widgets {
				margin:0 !important;
			}
		.header-address {
			color:#fff;
			background:url(../images/address-ico.png) left center no-repeat;
			padding-left:30px;
			font-size:18px;
			line-height:22px;
			white-space:nowrap;
			letter-spacing:-0.8px;
		}
			.header-address span {
				display:inline-block;
				border-bottom:1px dotted #d71920;
			}
/*-*/
#main-menu {
	background:url(../images/main-menu-bg.png) left top repeat;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	text-transform:uppercase;
}
	.mobile-menu-icon {
		display:none;
	}
	.mMenuWrapper {
		display:table;
		width:100%;
	}
	#main-menu .mMenuWrapper .content {
		display:table;
		width:100%;
	}
	#main-menu .mMenuWrapper .content > ul {
		padding:0;
		margin:0;
		text-align:center;
		display:table-row;
	}
		#main-menu .mMenuWrapper .content > ul > li {
			display:table-cell;
			padding:0 1%;
			margin:0;
			border-right:1px solid #d8d7d7;
			position:relative;
		}
		#main-menu .mMenuWrapper .content > ul > li:first-child {
			border-left:1px solid #d8d7d7;
		}
		#main-menu .mMenuWrapper .content > ul > li a,
		#main-menu .mMenuWrapper .content > ul > li span {
			line-height:50px;
			height:50px;
			display:block;
			text-decoration:none;
			color:#3c3d41;
			padding:0;
			white-space:nowrap;
		}
		#main-menu .mMenuWrapper .content > ul > li a:hover,
		#main-menu .mMenuWrapper .content > ul > li a.active {
			color:#d71920;
		}
		#main-menu .mMenuWrapper .content > ul ul {
			display:none;
			position:absolute;
			left:0;
			top:50px;
			background:#fff;
			z-index:100;
			width:100%;
			padding:0;
			margin:0;
			border-top:1px solid #ccc;
			box-shadow:0 3px 3px rgba(0,0,0,0.55);
			text-align:center;
		}
		#main-menu .mMenuWrapper .content > ul ul li {
			list-style:none;
			border-top:1px solid #d8d7d7;
		}
		#main-menu .mMenuWrapper .content > ul ul li:first-child {
			border:none;
		}
		#main-menu .mMenuWrapper .content > ul ul li a {
			color:#666;
		}
		#main-menu .mMenuWrapper .content > ul > li:hover ul {
			display:block;
		}
/*-*/
#main-slider-wrapper {
	margin:0 auto;
	position:relative;
}
	.main-slider {
		position: relative;
		overflow: hidden;
		position:relative;
	}
		.main-slider ul {
			width: 20000em;
			position: relative;
		
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.main-slider li {
				float: left;
			}
				.main-slider li a {
					display:block;
				}
				.main-slider li img {
					width:100%;
					height:100%;
				}
	.main-slider-pagination-wrapper {
		position:absolute;
		width:100%;
		left:0;
		bottom:0;
		text-align:center;
		height:0;
	}
		.main-slider-pagination {
			display:inline-block;
			vertical-align:top;
			background:#060606;
			opacity:0.8;
			padding:6px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			position:relative;
			bottom:50px;
			font-size:0;
		}
			.main-slider-pagination a {
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				border:2px solid #fff;
				width:4px;
				height:4px;
				display:inline-block;
				vertical-align:top;
				font-size:0;
				text-decoration:none;
				text-indent:-9999;
				margin:0 5px;
			}
			.main-slider-pagination a.active {
				background:#d71920;
				border-color:#d71920;
			}
/*-*/
#main-two-links {
	padding:38px;
	text-align:center;
	max-width:1200px;
	margin:0 auto;
}
	#main-two-links a.m-t-item {
		position:relative;
		display:inline-block;
		vertical-align:top;
		border:1px solid #fff;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		box-shadow:0 2px 0 #aca99d;
		overflow:hidden;
		color:#fff;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:48%;
	}
		.m-t-item:first-child {
			margin-right:2%;
		}
		.m-t-item img {
			width:100%;
			height:100%;
		}
		.m-t-item span {
			background:url(../images/bg50.png) left top repeat;
			display:none;
			width:100%;
			height:100%;
			position:absolute;
			left:0;
			top:0;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			padding:8px;
		}
		.m-t-item i {
			font-style:normal;
			border:2px solid #d71920;
			display:block;
			width:100%;
			height:100%;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
		}
		.m-t-item b {
			font-family:"PT Sans";
			font-size:18px;
			line-height:28px;
			height:32px;
			width:180px;
			display:inline-block;
			border:1px solid #db3f45;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
			background:#c02424;
			opacity:0.8;
			position:absolute;
			top:50%;
			left:50%;
			margin-top:-17px;
			margin-left:-91px;
		}
/*-*/
#main-catalog,
.region-maincatalog {
	background:#f7f7f7;
	padding-bottom:22px;
}
	.m-c-title,
	.region-maincatalog h2	{
		text-transform:uppercase;
		font-family:"PT Sans";
		font-size:30px;
		color:#000;
		text-align:center;
		font-weight:bold;
		padding:20px 0 10px;
		border-bottom:2px solid #d71920;
		margin:0 auto 18px;
	}
	.m-c-title h1 {
		margin-bottom:0;
	}
	.m-c-title span {
		color:#d71920;
	}
	.main-catalog-slider-wrapper,
	#block-views-catalog-block	{
		padding:0 100px;
		margin:0 auto;
		max-width:980px;
		position:relative;
	}
	.main-catalog-slider {
		position: relative;
		overflow: hidden;
		position:relative;
		max-width:980px;
	}
		.main-catalog-slider ul {
			width: 20000em;
			height:100%;
			position: relative;
		
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.main-catalog-slider li {
				float: left;
				width:230px;
				height:100%;
				margin-right:26px;
				position: relative;
			}
				.mc-slider-item {
					background:#fff;
					display:block;
					padding:10px 20px;
					text-decoration:none;
					color:#838c8e;
					font-size:12px;
					font-family:Arial, Helvetica, sans-serif;
					height:100%;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
					-webkit-box-sizing:border-box;
					-moz-box-sizing:border-box;
					box-sizing:border-box;
					 min-height: 730px;
				}
				.mc-slider-item:hover {
					opacity:0.9;
				}
				.mc-item-image {
					display:block;
					height:200px;
					text-align:center;
				}
					.mc-item-image img {
						display:inline-block;
						vertical-align:top;
					}
					.mc-item-title {
						font-family:"PT Sans";
						font-size:16px;
						line-height:18px;
						text-align:center;
						font-weight:bold;
						color:#3a3d3f;
						display:block;
						min-height:36px;
					}
			.mc-slider-prev {
				background:url(../images/arrow-left.png) left top no-repeat;
				width:29px;
				height:40px;
				display:block;
				font-size:0;
				text-decoration:none;
				position:absolute;
				left:34px;
				top:50%;
				margin-top:-20px;
			}
			.mc-slider-next {
				background:url(../images/arrow-right.png) left top no-repeat;
				width:29px;
				height:40px;
				display:block;
				font-size:0;
				text-decoration:none;
				position:absolute;
				right:34px;
				top:50%;
				margin-top:-20px;
			}
/*-*/
#main-news,
.region-mainnews {
	margin:0 auto;
	padding:0px 100px 70px;
	max-width:980px;
}
#main-news .m-c-title,
.region-mainnews  h2 {
	padding-top:40px;
	text-transform:uppercase;
	font-family:"PT Sans";
	font-size:30px;
	color:#000;
	text-align:center;
	font-weight:bold;
	padding:20px 0 10px;
	border-bottom:2px solid #d71920;
	margin:0 auto 18px;
}
.m-n-items,
.region-mainnews .view-content {
	font-size:0;
}
	.m-n-item {
		display:inline-block;
		vertical-align:top;
		width:49%;
		min-height:300px;
		background-color:#fff;
		background-position:right bottom;
		background-repeat:no-repeat;
		background-size:contain;
		font-size:14px;
		color:#838d8f;
		padding:26px 40px 30px 30px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		position:relative;
		overflow:hidden;
	}
	.m-n-item:first-child,
	.region-mainnews .views-row:first-child	{
		margin-right:2%;
	}
	
	.m-n-date {
		
	}
	.m-n-date span {
		display:inline-block;
		vertical-align:top;
		background:#d71920;
		line-height:20px;
		height:20px;
		color:#fff;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:11px;
		padding:0 10px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.m-n-title {
		font-family: 'Roboto Condensed', sans-serif;
		font-size:22px;
		color:#3c3d41;
		font-weight:bold;
		padding:20px 45% 0 0;
	}
	
	.m-n-text {
		padding-bottom:20px;
		padding-right:45%;
	}
	
	a.m-n-more,
	.m-n-more a	{
		color:#d71920;
		font-size:18px;
		font-family:"PT Sans";
		line-height:30px;
		font-weight:bold;
		padding:0 40px;
		text-decoration:none;
		display:inline-block;
		height:32px;
		border:1px solid #ededed;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		border-radius: 16px;
	}
	a.m-n-more:hover,
	.m-n-more a:hover	{
		color:#fff;
		background:#d71920;
	}
	
	.bgImg {
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		z-index:10;
	}
	.bgImg img {
		position:absolute;
		right:0;
		bottom:0;
		height:auto;
		width:auto;
	}
	.mNewsBody {
		position:relative;
		z-index:11;
	}
/*-*/
.page-node-21 h1 {
	text-transform:uppercase;
	font-family:"PT Sans";
	font-size:30px;
	color:#000;
	text-align:center;
	font-weight:bold;
	padding:20px 0 10px;
	border-bottom:2px solid #d71920;
	margin:0 auto 18px;
}
#block-views-news-block-1 .m-c-title {
	padding-top:20px ;
}
#block-views-news-block-1 .m-n-item{
	display:block;
	width:100%;
	margin-right:0;
	margin-bottom:20px;
}
#block-views-news-block-1 .m-n-title {
	padding-right:25%;
	
}
#block-views-news-block-1 .m-n-text {
	padding-right:25%;
}
#main-news .news-btn-more {
	padding-right:25%;
}
/*-*/
.news-page .m-n-item {
	display:block;
	width:100%;
	margin-right:0;
	margin-bottom:20px;
	font-size:18px;
	color:#666d70;
	font-family:"PT Sans";
}
.news-page .m-n-item .m-n-title {
	padding-bottom:20px;
}
.news-page .m-n-item img {
	width:100%;
	height:auto;
	margin:20px 0;
}
.news-page .m-n-item .m-n-title {
	padding-right:0;
	
}
.news-page .m-n-item .m-n-text {
	padding-right:0;
}
p.prominent {
	font-size:32px;
	color:#d71920;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	display:block;
	padding:20px 0;
	line-height:normal;
}
/*-*/

/*-*/
.pagging {
	padding:20px;
	text-align:center;
	color:#000;
	font-size:15px;
	font-weight:bold;
	font-family:"PT Sans";
	line-height:36px;
}
.pagging a {
	color:#383737;
	text-decoration:none;
	display:inline-block;
	vertical-align:top;
	min-width:36px;
	text-align:center;
}
.pagging a:hover {
	text-decoration:underline;
}
.pagging a.first {
	
}
.pagging a.last {
	
}
.pagging a.active {
	color:#fff;
	text-decoration:none !important;
	background:#d71920;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
}
/*-*/
#page-content {
	padding:20px 20px 40px;
	max-width:960px;
	margin:0 auto;
}
.contact-page {
	max-width:828px;
	margin:0 auto;
}
.contacts-item {
	padding:10px 0px;
	position:relative;
	background:#f5f5f5;
	margin:10px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:table;
	width:100%;
	min-height:62px;
}
.c-i-body {
	display:table-row;
}
.c-i-place {
	width:172px;
	padding:0 20px;
	text-align:center;
	color:#d71920;
	font-family:"PT Sans";
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	display:table-cell;
	vertical-align:middle;
	min-height:62px;
}
.c-i-addresses {
	padding:0 30px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	display:table-cell;
	vertical-align:middle;
	min-height:62px;
	border-left:2px solid #000;
	border-right:2px solid #000;
}
	.c-i-address {
		padding:5px 0;
	}
	.c-i-address p {
		margin:0 0 5px 0;
	}
	.c-i-address img {
		display:inline-block;
		vertical-align:bottom;
		margin-right:4px;
	}
	.c-i-address a {
		color:#333;
	}
.c-i-addresses b {
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
}
.c-i-phones {
	padding:0 28px;
	font-size:18px;
	color:#333;
	font-family: 'Roboto Condensed', sans-serif;
	display:table-cell;
	vertical-align:middle;
	min-height:62px;
	width:200px;
	white-space:nowrap;
}
	.c-i-phone {
		padding:13px 0 13px 36px;
		background:url(../images/top-phone-ico.png) left center no-repeat;
	}
.c-i-brands {
	padding:0 10px;
	font-size:0;
	color:#333;
	font-family: 'Roboto Condensed', sans-serif;
	display:table-cell;
	vertical-align:middle;
	min-height:62px;
	width:50px;
	text-align:center;
	border-left: 2px solid #000;
	line-height:0;
}
/*-*/


.c-f-form,
#webform-ajax-wrapper-136{
	background:#fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:20px 0;
	font-size:16px;
	color:#000;
}
.c-f-form form,
#webform-ajax-wrapper-136 form {
	max-width:490px;
	margin:0 auto;
}
.c-f-form form label {
	display:block;
	padding-bottom:2px;
	padding-left:2px;
}
.c-f-form  .form-item,
#webform-ajax-wrapper-136  .form-item{
	float:left;
	margin:0;
	width:50%;
	padding:5px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.c-f-form input[type="text"],
.c-f-form select,
#webform-ajax-wrapper-136 input[type="text"],
#webform-ajax-wrapper-136 input[type="email"],
#webform-ajax-wrapper-136 select {
	border:1px solid #b4b4b4;
	background:#fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height:35px;
	padding:5px 10px;
	font-size:14px;
	width:100%;
	color:#666666;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.form-message,
#webform-ajax-wrapper-136 .webform-component-textarea {
	clear:both;
	width:100%;
	padding:5px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
	float:none;
}
.c-f-form textarea,
#webform-ajax-wrapper-136 textarea {
	border:1px solid #b4b4b4;
	background:#fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height:150px;
	padding:5px 10px;
	font-size:14px;
	width:100%;
	color:#666666;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
#webform-ajax-wrapper-136 .form-actions {
	padding:5px;
	text-align:center;
}
#webform-ajax-wrapper-136 input[type="submit"] {
	border:1px solid #ededed;
	background:#fff;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	color:#d71920;
	font-family:"PT Sans";
	font-size:18px;
	font-weight:bold;
	height:34px;
	padding:0 20px;
}
#webform-ajax-wrapper-136 input[type="submit"]:hover {
	cursor:pointer;
	background:#d71920;
	color:#fff;
	border:1px solid #d71920;
}
/*-*/
.news-page {
}
.news-page > .m-c-title {
	padding-top:0;
	position:relative;
	
}
.news-page a.backToNews {
	font-size:18px;
	font-family:"PT Sans";
	color:#d71920;
	position:absolute;
	left:0;
	top:10px;
	font-weight:normal;
	text-transform:none !important;
	display:block;
	padding-left:30px;
	background:url(../images/back-arrow.png) left center no-repeat;
	line-height:20px;
}
/*-*/
.our-brands {
	padding-top:30px;
}
.our-brand:first-child {
	padding-bottom:50px;
}
.our-brand-img {
	max-width:550px;
	float:left;
	width:55%;
}
	.our-brand-img img {
		width:100%;
		height:auto;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		display:block;
		vertical-align:top;
		border:1px solid #fff;
		box-shadow:0 3px 0 #aca99d;
	}
.our-brand-text {
	float:right;
	width:40%;
	color:#666d70;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
}
.our-brand-text strong {
	color:#000;
}
a.our-brand-link {
	color:#d71920;
	text-decoration:none;
	font-size:18px;
	font-family:"PT Sans";
	font-weight:bold;
	display:inline-block;
	vertical-align:top;
	background:#fff;
	box-shadow:0 3px 0 #cccccc;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding:20px 30px;
	margin-top:10px;
}
a.our-brand-link:hover {
	color:#fff;
	background:#d71920;
	box-shadow:0 3px 0 #b11b21;
}
/*-*/
.brand-anta-page {
	color:#666d70;
	font-size:18px;
	font-family:"PT Sans";
}
.brand-anta-image {
	padding:20px 0;
}
.brand-anta-image-left {
	float:left;
	width:56%;
}
.brand-anta-image-right {
	float:right;
	width:41.7%;
}
.brand-anta-image img {
	width:100%;
	height:auto;
}

.brand-anta-links {
	padding:20px 0;
	text-align:center;
}
.brand-anta-links a {
	color:#d71920;
	text-decoration:none;
	font-size:18px;
	font-family:"PT Sans";
	font-weight:bold;
	display:inline-block;
	width:30%;
	text-align:center;
	vertical-align:top;
	background:#fff;
	box-shadow:0 3px 0 #cccccc;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding:20px 30px;
	margin-top:10px;
	margin:0 10px;
}
.brand-anta-links a:hover {
	color:#fff;
	background:#d71920;
	box-shadow:0 3px 0 #b11b21;
}

#block-views-category-block h2,
#block-views-category-block-1 h2,
#block-webform-client-block-136 h2{
	text-transform:uppercase;
	font-family:"PT Sans";
	font-size:30px;
	color:#000;
	text-align:center;
	font-weight:bold;
	padding:20px 0 10px;
	border-bottom:2px solid #d71920;
	margin:0 auto 18px;
}

.view-taxonomy-term .view-display-id-block,
.view-taxonomy-term .view-display-id-block_1,
.region-catmenuanta .view-category,
.region-catmenusprandi .view-category{
	text-align:center;
}
.view-display-id-block .brand-anta-catecory,
.view-display-id-block_1 .brand-anta-catecory {
	text-align:center;
	display:inline-block;
	vertical-align:top;
	width:20%;
}
 .brand-anta-catecory a {
	display:block;
	overflow:hidden;
	background:#fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin:5px;
	padding:0px 10px 10px;
	color:#3a3d3f;
	font-family:"PT Sans";
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
	.brand-anta-catecory a:hover  {
		background-color:#d71920;
		color:#fff;
	}
	
	.brand-anta-catecory a > div:first-child {
		background-color:#fff;
		background-position:center -117px;
		background-repeat:no-repeat;
	}
	
	.brand-anta-catecory a.active {
		background-color:#d71920;
		color:#fff;
	}
	.brand-anta-catecory a.active > div:first-child {
		background-position:center 0;
		background-color:transparent;
	}
	
	.brand-anta-catecory a .b-a-cat1 {
		background-image: url(../images/cat1bg.png);
		height:80px;
	}
	.brand-anta-catecory a:hover .b-a-cat1 {
		background-position:center top;
		background-color:#d71920;
		color:#fff;
	}
	
	.brand-anta-catecory a .b-a-cat2 {
		background:#fff url(../images/cat2bg.png) center -117px no-repeat;
		height:80px;
	}
	
	.brand-anta-catecory a:hover .b-a-cat2 {
		background-position:center top;
		background-color:#d71920;
		color:#fff;
	}

	
	.brand-anta-catecory a .b-a-cat3 {
		background:#fff url(../images/cat3bg.png) center -117px no-repeat;
		height:80px;
	}
	.brand-anta-catecory a:hover .b-a-cat3 {
		background-position:center top;
		background-color:#d71920;
		color:#fff;
	}
	
	.brand-anta-catecory a .b-a-cat4 {
		background:#fff url(../images/cat4bg.png) center -117px no-repeat;
		height:80px;
	}
	.brand-anta-catecory a:hover .b-a-cat4 {
		background-position:center top;
		background-color:#d71920;
		color:#fff;
	}
	
	.brand-anta-catecory a .b-a-cat5 {
		background:#fff url(../images/cat5bg.png) center -117px no-repeat;
		height:80px;
	}
	.brand-anta-catecory a:hover .b-a-cat5 {
		background-position:center top;
		background-color:#d71920;
		color:#fff;
	}
	
	.brand-anta-catecory a .b-a-cat6 {
		background:#fff url(../images/cat6bg.png) center -117px no-repeat;
		height:80px;
	}
	.brand-anta-catecory a:hover .b-a-cat6 {
		background-position:center top;
		background-color:#d71920;
		color:#fff;
	}
	
	.brand-anta-catecory a .b-a-cat7 {
		background:#fff url(../images/cat7bg.png) center -117px no-repeat;
		height:80px;
	}
	.brand-anta-catecory a:hover .b-a-cat7 {
		background-position:center top;
		background-color:#d71920;
		color:#fff;
	}

/*-*/
.brand-anta-tech-block {
	background:#fff;
	padding:20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size:18px !important;
	line-height:normal !important;
	/*font-family:Arial, Helvetica, sans-serif;*/
	color:#666d70;
	margin:20px 0;
}
.brand-anta-tech-block * {
font-size:18px !important;
	line-height:normal !important;
}
.brand-anta-tech-block img {
	width:100%;
	height:auto;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.tech-block-left {
	width:57%;
	float:left;
	padding-bottom:10px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.tech-block-right {
	width:40%;
	float:right;
	padding-bottom:10px;
}
.tech-block-link {
	padding-top:10px;
	text-align:center;
	
}
.tech-block-link a {
	display:inline-block;
	background:#d71920 url(../images/tech-btn-bg.png) 28px center no-repeat;
	padding:0 20px 0 84px;
	line-height:32px;
	height:34px;
	font-family:"PT Sans";
	color:#fff;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
/*-*/
.tech-block-more {
	padding:10px 0;
	text-align:center;
}
.tech-block-more a {
	display:inline-block;
	background:#fff;
	padding:0 20px 0 20px;
	line-height:32px;
	height:34px;
	font-family:"PT Sans";
	color:#d71920;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.tech-block-more a:hover {
	color:#fff;
	background:#d71920;
}
.close-tech {
	display:none;
}
#block-views-techanta-block-1 .view-display-id-block_1 .view-content {
	display:none;
}
/*-*/
.vacancy-item {
	background:#f5f5f5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:30px;
	font-size:0;
	margin:20px 0;
}
.vac-item-name {
	display:inline-block;
	vertical-align:middle;
	width:20%;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
	padding-right:20px;
	text-align:center;
	font-size:18px;
	color:#d71920;
	font-family:"PT Sans";
	font-weight:bold;
	text-transform:uppercase;
}
.vac-item-text {
	display:inline-block;
	vertical-align:middle;
	width:80%;
	font-size:18px;
	color:#838d8f;
	
	padding-left:40px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
	border-left:2px solid #000000;
}
.vac-item-text b {
	color:#d71920;
	font-size:18px;
	font-weight:bold;
}

/*-*/
.selected-towns {
	
}
.selected-town {
	background:#f5f5f5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:5px;
	font-family: "PT Sans";
    padding: 16px 24px;
	display:table;
	width:100%;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
	font-size:18px;
}
.s-town-inner {
	display:table-row;
}
.s-town-address {
	display:table-cell;
	color:#000;
}
.s-town-link {
	display:table-cell;
	text-align:center;
	width:200px;
}
	.s-town-link a {
		color:#666;
	}
.s-town-img {
	display:table-cell;
	text-align:center;
	width:150px;
}
/*-*/
#footer {
	border-top:1px dashed #999999;
	padding:14px 100px 10px;
}
	#footer .footer-inner {
		max-width:980px;
		margin:0 auto;
		position:relative;
	}
	.footer-logo {
		font-family:Arial, Helvetica, sans-serif;
		color:#000;
		font-size:11px;
		display:inline-block;
		vertical-align:top;
		text-align:center;
		float:left;
	}
		.footer-logo a {
			display:inline-block;
			width:60px;
			height:32px;
			margin-bottom:6px;
			font-size:0;
			text-decoration:none;
			text-indent:-9999;
			background:url(../images/footer-logo.png) center top no-repeat;
		}
	.footer-menu {
		position:absolute;
		left:0;
		top:18px;
		padding:0 180px 0 180px;
		margin:0;
		width:100%;
	}
		.footer-menu ul {
			padding:0;
			margin:0;
			font-size:0;
			text-align:left;
		}
		.footer-menu ul li {
			display:inline-block;
			font-size:12px;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight:bold;
			padding:0 2%;
			margin:0;
		}
		.footer-menu ul li a {
			color:#000;
			text-transform:uppercase;
		}
	.footer-soc {
		float:right;
		font-size:0;
		padding-top:4px;
		position:relative;
	}
	.footer-soc a {
		display:inline-block;
		vertical-align:top;
		width:40px;
		height:40px;
		background:url(../images/soc.png) left top no-repeat;
		margin-left:4px;
	}
	.footer-soc a:hover {
		opacity:0.9;
	}
		.footer-soc a.fb {
			background-position:0 0;
		}
		.footer-soc a.vk {
			background-position:-43px 0;
		}
		.footer-soc a.inst {
			background-position:-86px 0;
		}

		
		
		
		
/*-*/
#block-views-vacancy-block h2,
#block-views-optrules-block h2{
	text-transform:uppercase;
		font-family:"PT Sans";
		font-size:30px;
		color:#000;
		text-align:center;
		font-weight:bold;
		padding:20px 0 10px;
		border-bottom:2px solid #d71920;
		margin:0 auto 18px;
}

.mapslideblock{
	
}
.yamap-block {
display:none;
}
.view-contacts .view-content {
font-size:0;
}
.view-contacts .contacts-item {
font-size:normal;
}


#block-views-magtowns-block h2,
#block-views-techanta-block h2,
#block-views-tech-sprandi-block h2{
	text-transform:uppercase;
	font-family:"PT Sans";
	font-size:30px;
	color:#000;
	text-align:center;
	font-weight:bold;
	padding:20px 0 10px;
	border-bottom:2px solid #d71920;
	margin:0 auto 18px;
}
#block-views-magtowns-block .view-filters,
.select-town {
	background:#fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:6px 14px;
	font-family:"PT Sans";
	color:#000;
}
#block-views-magtowns-block .view-filters label,
.select-town label {
	font-weight:bold;
	font-size:18px;
	display:inline-block;
	padding-top:4px;
}
#block-views-magtowns-block .view-filters select,
.select-town select {
	border:1px solid #b4b4b4;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#fff;
	padding:8px 12px;
	min-width:200px;
	margin-left:10px;
}
#block-views-magtowns-block .views-exposed-widgets {
	margin:0;
}
#edit-field-town-tid-wrapper {
padding:0;
}
#block-views-magtowns-block .views-widget {
display:inline-block;
vertical-align:top;
}



.mapslideblock1 {
	width:100%;
	font-size:0;
	position:relative;
}
.mapslideblock1  > * {
	font-size:normal;
}
.placeMapBtn {
	height:20px;
}
.mapslideblock1 .open_yamap_button,
.mapslideblock1 .close_yamap_button {
	position:absolute;
	left:244px;
	top:-40px;
}


.page-taxonomy h1 {
	display:none;
}

.page-taxonomy .view-category .brand-anta-catecory {
	font-size:14px;
	width:13%;
	overflow:hidden;
}
.page-taxonomy .view-category .brand-anta-catecory a {
padding:0 0 10px 0;
}

.view-display-id-block_2 .brand-anta-catecory {
	width:100% !important;
}
.field-name-field-img {
padding:10px 0;
}
.field-name-field-img  img,
.qweqwe img {
width:100%;
height:auto;
}

.productItem {
	display:inline-block;
	vertical-align:top;
	margin:0 2px 10px;
}

.catalog-item {
	width:190px;
	background:#fff;
	display:inline-block;
	vertical-align:top;
	padding:10px 20px;
	text-decoration:none;
	color:#838c8e;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	min-height:440px;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.view-taxonomy-term .catalog-item {
	height: 346px !important;
	min-height:346px;
}
.catitem-img {
	text-align:center;
	width:100%;
	height:200px;
}
.catitem-img a:nth-child(n+2) {
	display:none;
}
.catitem-title {
	color: #3a3d3f;
    display: block;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    min-height: 36px;
    text-align: center;
}
.catitem-text {

}
.catitem-text  p {
margin:6px 0 2px;
}

.view.anta .view-display-id-block_1 ,
.view.anta .title-sprandi,
.view.sprandi .view-display-id-block,
.view.sprandi .title-anta {
display:none;
}



.view-catalog-images-anta {
	padding:20px;
	text-align:center;
}
.view-catalog-images-anta  .anta-pdf {
	position:relative;
	background:url("../files/anta-cat-img.png") left center no-repeat;
	/*padding-left:150px;*/
	font-size:16px;
	color:#070707;
	display:inline-block;
	height: 101px;
	width: 111px;
}
.anta-pdf table {
	/*height:101px;*/
	display: inline-block;
	margin-top: 98px;
}
.anta-pdf .fancybox {
	display:none;
	text-decoration: none;
}
.anta-pdf .fancybox:first-child {
	display:block;
}
.anta-pdf .fancybox:first-child:after {
	content:'LOOKBOOK';
	color: #454344;
	font-size: 14px;
	font-weight: bold;
}
.anta-pdf .fancybox img{ 
	display:none;
}

/* anta catalog */
.region.region-catlink {
	text-align: center;
}
#block-views-catalog-images-anta-block {
	vertical-align: top;
}
#block-views-catalog-images-anta-block, #block-views-catalog-images-anta-block-1 {
	display: inline-block;
}
#block-views-catalog-images-anta-block-1 .view-catalog-images-anta  .anta-pdf {
	background:url("../files/anta_catalog.jpg") left center no-repeat;
	padding-left: 0;
	height: 101px;
  width: 149px;
}
#block-views-catalog-images-anta-block-1 .anta-pdf .fancybox:first-child:after,
.sprandi-pdf .fancybox:first-child:after { 
	content: "посмотреть";
	font-size: 12px;
	font-weight: normal;
	color: #454344;
}
#block-views-catalog-images-anta-block-1 .anta-pdf .catimg, #block-views-catalog-images-anta-block-1 .downCat, .sprandi-pdf .catimg, .sprandi-pdf .downCat {
	display: inline-block;
} 
#block-views-catalog-images-anta-block-1 .anta-pdf .catalog-name, 
.sprandi-pdf .catalog-name {
	color: #454344;
	font-size: 14px;
	font-weight: bold;
	padding-top: 103px;
}
#block-views-catalog-images-anta-block-1 .anta-pdf .downCat, .sprandi-pdf .downCat {
	color: #454344;
	font-size: 12px;
	padding-left: 13px;
	text-decoration: none;
}
/**/

.view-catalog-images-sprandi {
	padding:20px;
	text-align:center;
}
.view-catalog-images-sprandi .sprandi-pdf {
	position:relative;
	background:url("../files/sprandi-cat-img.png") center center no-repeat;
	height:101px;
	/*padding-left:150px;*/
	font-size:16px;
	color:#070707;
	display:inline-block;
	
}
.sprandi-pdf table {
	height:101px;
}
.sprandi-pdf .fancybox {
	display:none;
	text-decoration: none;
}
.sprandi-pdf .fancybox:first-child {
	display:block;
}
.sprandi-pdf .fancybox img{ 
	display:none;
}


/*-*/
.close_yamap_button,
.open_yamap_button,
.open_yamap_button_static,
.remove_yamap_button {
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  padding: 0px !important;
  line-height: 100%;
  border-radius: 0px;
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-weight: normal;
  font-size: 14px !important;
  text-shadow: 0 !important;
  color: #666;
  text-decoration: underline;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  *display: inline; /* IE ONLY */
  zoom: 1;
  border: none !important;
  background: none !important;
}




.maintenance-page {
background:#fff !important;
}
.maintenance-page  .map_div {
	text-align:center;
}
.maintenance-page #wrapper .bottom {
	text-align:center;
}



span.ANTA {
	display:inline-block;
	vertical-align:baseline;
	background:url("../files/sm-anta.png") left top no-repeat;
	width:30px;
	height:16px;
	font-size:0;
	margin:5px 10px;
}
span.SPRANDI {
	display:inline-block;
	vertical-align:baseline;
	background:url("../files/sm-sprandi.png") left top no-repeat;
	width:55px;
	height:14px;
	margin:6px 10px;
	font-size:0;
}


.downCat {
display:none;
}

.full-text {
	background: #fff none repeat scroll 0 0;
	border-radius: 10px;
	box-shadow: 3px 3px #eceae9;
	display: none;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	z-index: 9;
}
.productItem {
	position: relative;
}

/*-*/
.view-antasearch .views-table {
	background:#fff;
	width:100%;
}
.view-antasearch .views-table tr {
	background:#fff !important;
}
.view-antasearch .views-table  td {
	padding:6px 10px;
	border:1px solid #ddd !important;
}
.view-antasearch .views-field-field-image {
width:150px;
text-align:center;
}





.all, .all1, .all2
{
	z-index: 1001;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -81.5px;
	margin-left: -212.5px;
	/*margin: 5px auto;*/
	padding: 3px 2px 2px 2px;
	font-family: sans-serif;
	display: none;
	width: 425px;
	height: 163px;
	text-align: center;
}
.all1
{
	height: 233px;
}
.cont, .cont1, .cont2
{
	margin: auto;
	padding: auto;
	border: 1px solid black;
	border-radius: 10px;
	background: white;
	width: 420px;
	height: 160px;
	color: #666666;
}
.cont1
{
	height: 230px;
}
.action_button
{
	background: red;
	color: white;
	border-radius: 5px;
	border: 0px;
	overflow: hidden;
	height: 34px;
	padding: 0px 13px;
}
h2
{
	padding-bottom: 20px;
}
input[type=text]
{
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 9px;
}
.main_inp
{
	width: 180px;
}
.time_inp
{
	width: 50px;
	text-align: center;
}
#close
{
	text-align: right;
	display: block;
	padding: 15px 10px 7px 10px;
	color: red;
}
#time_to_call
{
	display: none;
}
#time_to_call span
{
	padding: 0px 10px 0px 7px;
}
#main_inps button
{
	text-align: right;
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 95px;
}
#ch_time_a
{
	margin-bottom: 15px;
	color: black;
	display: block;
}
#time_to_call button
{
	margin-left: 15px;
}
#overlay
{
	z-index: 999; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position: fixed; /* всегдa перекрывaет весь сaйт */
	opacity: 0.8; /* нo немнoгo прoзрaчнa */
	width: 100%; 
	height: 100%; /* рaзмерoм вo весь экрaн */
	top: 0; 
	left: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	cursor: pointer;
	display: none;
}
#open_callback
{
	margin-left: 340px;
}


/* Попап окно */

#popup {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(240, 240, 240, .0);
    visibility: hidden;
    animation: animaciya 1s 30s forwards;
    cursor: pointer
}
@keyframes animaciya {
    from {
        visibility: hidden
    }
    to {
        visibility: visible
    }
}
#popup figure {
    display: table-cell;
    vertical-align: middle
}
#popup div,
#popup figcaption,
#popup figure:before {
    max-width: 500px;
    margin: 0 auto;
    border-style: none;
    border-color: #587da4;
    background: #fff
}
#popup figure:before {
    content: "x";
    display: block;
    padding: 0 1%;
    border-width: 4px 4px 0;
    border-radius: 5px 5px 0 0;
    text-align: right;
    color: #587da4
}
#popup div,
#popup figcaption {
    padding: 1%;
    cursor: default
}
#popup figcaption {
    position: relative;
    padding-top: 20px;
    border-width: 0 4px;
    font-size: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #646464
}
#popup div {
    border-width: 0 4px 4px;
    border-radius: 0 0 5px 5px
}
a.button {
    display: inline-block;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #FFF;
    background: #d71920;
    cursor: pointer;
    border-radius: 5px;
    /*width: 125px;*/
    text-decoration: none
}
a.button:hover {
    background: #fa121a
}

a.callbackbutton {
    /*display: inline-block;*/
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
	border-radius: 17px;
    width: 155px;
    color: #FFF;
    background: #d71920;
    cursor: pointer;
    text-decoration: none
}
a.callbackbutton:hover {
    background: #fa121a
}

a.sbutton {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: 1px;
    color: #FFF;
    background: #d71920;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none
}
a.sbutton:hover {
    background: #fa121a
}
input.bigtext {
    width: 304px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #000;
    margin: 3px;
    font-size: 110%;
    font-family: 'PT Sans', sans-serif;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 9px;
    padding-right: 9px
}
input.bigtextt {
    width: 75px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #000;
    text-align:center;
    margin: 3px;
    font-size: 110%;
    font-family: 'PT Sans', sans-serif;
    color: #666;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 9px;
    padding-right: 9px
}
a.notbutton {
    text-decoration: none;
    border-bottom: 1px dashed #666;
    color: #666;
}
